/*escriptori*/
@media only screen and (min-width: 800px)
{

			body{
				overflow-x: hidden;
			}

		#portada{
			background-image: url(img/cabecera.jpg);
			height: 910px;
			width: 100%;
		}

		#img1{
			width: 100%;
			opacity: 0.6;
			margin-top: 150px;
		}

		#Introducció{
			background-image: url(img/roma_wallpaper.jpg);
			height: 501px;
			width: 100%;
		}

		#text1{
			width: 40%;
			height: 100%;
			text-align: right;
			margin: 0 auto;
			float: right;
			background-color: rgba(20,20,20, 0.9);
			overflow: hidden;
		}

		#text1 p{
			margin-top: 150px;
			margin-left: 25px;
			margin-right: 25px;
			color: white;
		}

		#historia{
			background-image: url(img/roma3.jpg);
			height: 715px;
			width: 100%;
		}

		#text2{
			width: 40%;
			height: 100%;
			text-align: left;
			margin: 0 auto;
			float: left;
			background-color: rgba(20,20,20, 0.9);
		}

		#text2 p{
			margin-top: 240px;
			margin-left: 25px;
			margin-right: 25px;
			color: white;
		}

}

/*mobil*/
@media only screen and (max-width: 800px) and (orientation: portrait)
{

			body{
				overflow-x: hidden;
			}

		#portada{
			background-image: url(img/cabecera_portrait.jpg);
			height: 700px;
			width: 100%;
		}

		#img1{
			width: 100%;
			opacity: 0.6;
			margin-top: 150px;
		}

		#Introducció{
			background-image: url(img/roma_movil.jpg);
			height: 501px;
			width: 100%;
		}

		#text1{
			width: 45%;
			height: 100%;
			text-align: right;
			margin: 0 auto;
			float: right;
			background-color: rgba(20,20,20, 0.9);
			overflow-y: auto;
		}

		#text1 p{
			margin-left: 25px;
			margin-right: 25px;
			color: white;
			overflow-y: auto;
			font-size: 0.8em;
		}

		#historia{
			background-image: url(img/roma3_movil.jpg);
			height: 715px;
			width: 100%;
		}

		#text2{
			width: 45%;
			height: 100%;
			text-align: left;
			margin: 0 auto;
			float: left;
			overflow-y: auto;
			background-color: rgba(20,20,20, 0.9);
		}

		#text2 p{
			margin-left: 25px;
			margin-right: 25px;
			color: white;
			overflow-y: auto;
			font-size: 0.8em;
		}
	
}

@media only screen and (max-width: 800px) and (orientation: landscape)
{

			body{
				overflow-x: hidden;
			}

		#portada{
			background-image: url(img/cabecera_landscape.jpg);
			height: 379px;
			width: 100%;
		}

		#img1{
			width: 100%;
			opacity: 0.6;
			margin-top: 50px;
		}

		#Introducció{
			background-image: url(img/roma_movil.jpg);
			height: 501px;
			width: 100%;
		}

		#text1{
			width: 40%;
			height: 100%;
			text-align: right;
			margin: 0 auto;
			float: right;
			background-color: rgba(20,20,20, 0.9);
			overflow-y: auto;
			font-size: 0.8em;
		}

		#text1 p{
			margin-top: 150px;
			margin-left: 25px;
			margin-right: 25px;
			color: white;
		}

		#historia{
			background-image: url(img/roma3_movil.jpg);
			height: 715px;
			width: 100%;
		}

		#text2{
			width: 40%;
			height: 100%;
			text-align: left;
			margin: 0 auto;
			float: left;
			background-color: rgba(20,20,20, 0.9);
			overflow-y: auto;
			font-size: 0.8em;
		}

		#text2 p{
			margin-top: 240px;
			margin-left: 25px;
			margin-right: 25px;
			color: white;
		}
	
}